body {
    background-color: #FFF;
    margin: 0px;
    overflow: hidden;
}

a {
    color: #fff;
}

fieldset {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 20px;
}

label {
	color: #444;
	margin-right: 20px;
	width: 100px;
}

button {
	background-color: #FFF;
	color: #222;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #222;
}

select {
  border: 1px solid black;
  background-color:	#FFF;
  color: #222;
}

option {
  background:#FFF;
  border-top:1px solid #222;
}

input[type='radio'] {
	background-color: #FFF;
	color: #222;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #222;
}

#select_scenes {
	//width: 400px;
}

#window_render {
	display: none;
	width: 512px;
	height: 512px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 20px 20px #888;
}

#display {
	width: 512px;
	height: 512px;
	margin: 0px;
	padding: 0 0 0 0;
}

#form_init {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 400px;
	text-align: center;
}

#button_connect_to_server {
	width: 100px;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

#textarea_debug {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: auto;
	padding: 5px;
	height: 700px;
	opacity: 0.8;
	color: #FFF;
	background-color: #000;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #FFF;
	z-index: 1000;
}

#window_menu {
	background-color: #222;
	margin: 0 0 0 0;
	width: 100%;
	height: 50px;
}

#window_menu_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	background-color: #0000FF;
	margin: 0 0 0 0;
	width: 0%;
	height: 50px;
}


#window_setting {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 50%;
	height: 100%;
	background-color: #FFF;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #222;
	overflow: scroll;
}

#button_toggle_menu {
	height: 40px;
	margin-top: 5px;
	margin-right: 10px;
	background-color: #333;
	color: #EEE;
	float: right;
}

#button_toggle_debug {
	height: 40px;
	width: 50px;
	margin-top: 5px;
	margin-right: 10px;
	background-color: #333;
	color: #EEE;
	float: right;
	font-size: 170%;
}

#logo {
	height: 40px;
	margin-top: 15px;
	margin-left: 20px;
	color: #CCC;
	float: left;
	font-size: 20px;
}

.iput {
	background-color: #FFF;
	color: #222;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #222;
}

.islider {
	background-color: #FFF;
	color: #111;
	border-style: none;
	border-width: 1px 1px 1px 1px;
	border-color: #222;
	width: 100px;
}

.short {
	width: 25px;
}

.middle {
	width: 50px;
}

.long {
	width: 75px;
}

.longer {
	width: 100px;
}

.l1 {
	min-width: 160px;
}


.menu_b1 {
	width: 30px;
	height: 3px;
	background-color: #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;

}
